- provide :title, 'Sign Up'

= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|

  = devise_error_messages!

  .form-group
    = f.label :email
    = f.email_field :email, class: 'form-control'
  .form-group
    = f.label :envato_username
    = f.text_field :envato_username, class: 'form-control'
  .form-group
    = f.label :password
    = f.password_field :password, autocomplete: "off", class: 'form-control'
  .form-group
    = f.label :password_confirmation
    = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
  .checkbox
    .submit
      = f.submit "Sign up", class: "button"
