#footer
  .container
    .row
      .col-sm-3.copyright
        Copyright &copy;
        = succeed ',' do
          = Time.now.year
        Tiq.
      .col-sm-6.menu
        %ul
          = footer_link 'My Account', '#', 'users', 'show'
          = footer_link 'Pricing', '#', 'pages', 'pricing'
          = footer_link 'Support', '#', 'pages', 'support'
          = footer_link 'Blog', '#', 'blog', 'index'
      .col-sm-3.social
        = link_to 'http://twitter.com/kodets' do
          = image_tag 'social/social-tw.png', alt: 'twitter'
        = link_to '#' do
          = image_tag 'social/social-dbl.png', alt: 'dribbble'
