!!!
%html
  %head
    %title= full_title yield(:title)
    = stylesheet_link_tag    'application', media: 'all'
    %link{href: "//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", rel: "stylesheet"}
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body{class: "#{controller.controller_name} #{controller.action_name}"}
    - if notice
      .alert.alert-success.alert-dissmissable
        %button.close{'aria-hidden' => 'true', 'data-dismiss' => 'alert', type: 'button'} &times;
        = notice
    - if alert
      .alert.alert-warning.alert-dissmissable
        %button.close{'aria-hidden' => 'true', 'data-dismiss' => 'alert', type: 'button'} &times;
        = alert
    = render 'layouts/header'
    .container
      .row.header
        .col-md-12
          %h4= yield :title
      .row
        .col-md-12
          .wrapper.clearfix
            .formy
              .row
                .col-md-12
                  = yield
          .already-account
            = render "devise/shared/links"
    = render_footer
